*{
    font-size: 50px;
}
h1 
{
    color: blue;

}
.content {
    background-color: black;
    color:white;
    width:350px;
    margin:0 auto 30px;
    padding:15px;
    text-align: center;
    font-size:30px;
    float:left;
}

 